@model AppointmentApp.Domain.Models.Reservation

@{
    ViewData["Title"] = "Reservation details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reservation details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>
        <dt class="col-sm-2">
            Услуга
        </dt>
        <dd class="col-sm-10">
            @Model.reservationOfferings?.FirstOrDefault()?.Offering?.OfferingName
        </dd>
    </dl>
</div>


    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
        <a asp-action="Index" class="btn btn-secondary">Back to calender</a>
    </div>
