@model AppointmentApp.Domain.Models.Offering

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Offering</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfferingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfferingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfferingDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfferingDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfferingDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfferingDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfferingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfferingPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
