@model IEnumerable<AppointmentApp.Domain.Models.Offering>
@using AppointmentApp.Domain.Models
@using AppointmentApp.Domain.Identity
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppointmentAppUser> UserManager

@{
    ViewData["Title"] = "Index";
    var user = await UserManager.GetUserAsync(User);
}

<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    <a class="btn btn-success" asp-action="FetchOfferings">Fetch Offerings</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OfferingName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OfferingDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OfferingDuration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OfferingPrice)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OfferingName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OfferingDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OfferingDuration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OfferingPrice)
                    </td>
                    

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    
                </tr>
            }


        </tbody>
    </table>


